@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Bold.ttf);
}

body {
    font-family: "Lobster";
    margin: 0;
    padding: 0;
}

.full-image {
    display: flex;
    position: fixed;
    gap: 30px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.692)), url(images/tina_bg.jpg);
    height: 100vh;
    background-size: cover;
    color: white;
}

.sidebar {
    display: grid;
    width: 150px;
    font-size: 1.5rem;
    background-color: gray;
    padding: 20px 0;
}

.header-content {
    display: flex;
}
.circle-img {
    height: 500px;
    width: 500px;
    border-radius:100px;
    padding-top: 20%;
    padding-left: 10%;
}
.content-text,
.portfolio-content {
    border-radius: 100px;

}

.icon-section {
    text-align: center;
}

.icon-section img {
    width: 100px;
    justify-self: center;
    border-radius: 10px;
}

.list {
    list-style: none;
    text-align: center;
    width: 100%;
    padding-inline: 0;
}

.list li {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 20% 0;
    transition: .4s ease;
}

.list li:hover {
    background-color: black;
    color: white;
}

.list li a {
    text-decoration: none;
    color: white;
}

.social-links {
    display: grid;
    width: 100%;
    align-items: center;
    margin: 0 5%;
    font-size: 2rem;
}

.social-links div {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.social-links div a {
    text-decoration: none;
    color: white;
}

.social-links div a:hover {
    color: black;
    transition: .4s ease;
}

.header {
    display: block;
    overflow: scroll;
}

.greet {
    font-size: 4rem;
}

.greet-text {
    margin-top: 130px;
    display: grid;
    font-weight: bold;
}

.greet-text span {
    color: #00adfd;
    margin: 20px 0;
}

.greet-text a {
    font-size: 2rem;
    padding: 30px;
    background-color: #00adfd;
    width: 237px;
    text-align: center;
    margin: 100px 0px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 3px solid #00adfd;
    transition: .4s;
}

.greet-text a:hover {
    background-color: #cecece;
    color: #00adfd;
}

.tina {
    animation: tina 3s;
}

.header-content {
    width: 100%;
    font-size: 1.5rem;
}

.content-text {
    font-size: 4rem;
    color: #00adfd;
    text-indent: 100px;
    margin: 50px 0;
}
.content-text h4{
    color: aliceblue;
}

.portfolio-content {
    width: 10px;
    height: 15px;
}

@keyframes tina {
    from {
        font-size: 20px;
    }
    to {
        font-size: 30px;
    }
}

.projets {
    margin-top: 120px;
    display: grid;
    font-size: 110px;
    animation: proj 10s;
}

@keyframes proj {
    from {
        font-size: 40px;
    }
    to {
        font-size: 110px;
    }
}

a {
    text-decoration: none;
    color: #00adfd;
}

.text {
    font-size: 80px;
}

.pics-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pics-content div{
    width: fit-content;
    display: flex;
    width: calc(95% / 3);
}

.imgo{
    max-width: 100%;
}e

.imgo {
    width: 100%;
    height: 100%;
}

.la {
    font-size: 5rem;
    color: #00adfd;
    background: #a0c0cf00;
    transition: all 2s;
    width: 40%;
}

.la:hover {
    background: #00adfd;
    color: white;
}

.le {
    font-size: 40px;
}
.compétences{
    font-size: 5rem;
    color: white;
    background: #bfc7ca00;
    transition: all 2s;
    width: 60%;
    padding-top: 47px;
}
.compétences span:hover{
    background-color: #00adfd;
   color: white;
    
}

.progress-element {
    height: 30px;
    width: 520px;
    background-color: #00adfd;
    margin-bottom: 3rem;
    flex: 0 1 calc(50% - 1rem);
    margin-right: 1rem;
}

.progression {
    height: 30px;
    width: 220px;
    background-color: #026c9c;
}

.progress-bar {
    padding: 5rem 0;
    display: flex;
    flex-wrap: wrap;
}
#contact{
    text-align: center;
}
.info{
    display: flex;
    flex-direction: column;
}
.fin div {
    flex-basis: 50%;
}
.maps img{
    height: 320px;
    width: 100%;
    padding-top: 20px;
    padding-left: 245px;
    animation: .2s;
}
.fin{
    display: flex;
}